page-home {
    .bg{
        background-image: url('../assets/imgs/background.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
    }

    .cal,{

        background: radial-gradient(#904779 0%, #fff 100%);
    }
}
